<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des recettes</title>
</head>
<body>
<span th:replace="~{home :: navBar}"></span>
<th:block th:fragment="displayStudentResult">
    <p th:if="${categories.isEmpty()}">Aucune catégorie !!!</p>
    <table th:unless="${categories.isEmpty()}">
        <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Déscription</th>
        </tr>
        </thead>
        <tbody th:each="c : ${categories}">
        <tr>
            <td th:text="${c.getId()}"></td>
            <td th:text="${c.getNom()}"></td>
            <td th:text="${c.getDescription()}"></td>
            <td>
                <a th:href="@{/categories/update/{id}(id=${c.id})}">Modifier</a>
                <a th:href="@{/categories/delete/{id}(id=${c.id})}">Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>
<a th:href="@{/categories/add}">Ajouter une catégorie</a>
</body>
</html>